header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s linear;
  &.zindex {
    z-index: 100000;
  }
  &.header-scroll {
    top: -44px;
    .header-body {
      background-color: var(--darkblue);
    }
    @media screen and (max-width: 440px) {
      top: -37px;
    }
    .nav-item .nav-link {
      color: #ffffff !important;
      path {
        fill: #ffffff !important;
      }
    }
    a.tel {
      color: #ffffff !important;
      img {
        max-width: 20px;
      }
    }
  }
}
header.black {
  .nav-item .nav-link {
    color: #000;
    path {
      fill: #000;
    }
  }
  .nav-item.current .nav-link {
    color: var(--accent-color) !important;
  }
  a.tel {
    color: #000;
  }
}
.header {
  align-items: center;

  .container {
    max-width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
  }

  .header-body {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    height: 64px;
    transition: all 0.4s linear;
    @media screen and (max-width: 660px) {
      height: 50px;
    }
  }
  .right {
    height: 100%;
    display: flex;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700px;
      color: #ffffff;
      white-space: nowrap;
    }
    .tel {
      display: flex;
      align-items: center;
      gap: 4px;
      @media screen and (max-width: 400px) {
        font-size: 15px;
      }
    }
    .btn {
      background-color: var(--accent-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      @media screen and (max-width: 660px) {
        display: none;
      }
    }
  }

  .header-burger {
    display: none;
    padding: 0 10px;
    background-color: #ffffff;
    @media screen and (max-width: 1124px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .header-nav {
    height: 100%;
    position: relative;

    .top-mobile {
      display: none;
      padding: 0 16px;
      margin-bottom: 32px;
      .logo {
        max-width: 170px;
      }
      .close-menu {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media screen and (max-width: 1145px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .bottom-mobile {
      display: none;
      @media screen and (max-width: 1145px) {
        display: block;
        .btn {
          display: block;

          width: calc(100% - 32px);
          margin: 32px auto;
        }
      }
    }

    @media screen and (max-width: 1145px) {
      position: fixed;
      top: 0px;
      right: -100%;
      width: 100%;
      height: 100%;
      background: #e8f1fb;
      padding-top: 20px;
      transition: all 0.2s ease;
      overflow: auto;
      flex-direction: column;
      z-index: 2;
    }

    &.active {
      right: 0;
      background-color: var(--darkblue);
      .nav-link {
        justify-content: center;
        font-size: 20px;
      }
      .sub-menu {
        box-shadow: none;
        max-width: 230px;
        width: 100%;
        margin: 0 auto;
        li a {
          display: flex;
          align-items: center;
          gap: 8px;
        }
        li a::before {
          content: "";
          width: 10px;
          height: 10px;
          background-image: url("../img/disc.svg");
          background-size: cover;
          background-position: center;
          display: block;
        }
      }
      .sub-menu a {
        padding: 0;
        margin-bottom: 16px;
        border: none !important;
      }
    }
  }

  .nav-list {
    height: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
    @media screen and (max-width: 1145px) {
      flex-direction: column;
      gap: 0;
      height: auto;
      align-items: flex-start;
      padding: 0 16px;
    }
  }
  .nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: 1145px) {
      width: 100%;
      flex-direction: column;
      align-items: stretch;
    }
    &:hover,
    &:active,
    &:focus {
      .nav-link {
        color: var(--accent-color);
        opacity: 1;
        path {
          fill: var(--accent-color);
        }
      }
    }
  }
  .nav-link {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.1s linear;
    white-space: nowrap;
    path {
      transition: all 0.1s linear;
    }
    @media screen and (max-width: 1145px) {
      padding: 16px;
    }
  }
  .nav-item {
    &:hover {
      .sub-menu {
        display: block;
      }
    }
  }
  .sub-menu {
    background: var(--darkblue);
    box-shadow: 0px 4px 17px 0px rgba(30, 45, 68, 0.33);
    position: absolute;
    top: 90%;
    display: none;
    z-index: 1;
    @media screen and (max-width: 1145px) {
      position: static;
    }
    .sub-menu-item {
      position: relative;
      &:not(:last-child) a {
        border-bottom: 1px solid #223b60;
      }
      a {
        color: #ffffff;
        width: 100%;
        display: block;
        padding: 16px 24px;
        white-space: nowrap;
        :not(:last-child) {
          border-bottom: 1px solid #cfcfcf;
        }
      }
      &:hover {
        background-color: var(--accent-color);
      }
      &:hover {
        .item-menu {
          display: block;
        }
      }
    }
    .item-menu {
      position: absolute;
      background-color: #ffffff;
      left: 100%;
      top: 0;
      width: 200px;
      display: none;
    }
  }
}
.logo {
  cursor: pointer;
  height: 100%;
  min-width: 123px;
  padding-bottom: 2px;
  img {
    width: 100%;
    height: 100%;
  }
}
.current {
  .nav-link {
    color: var(--accent-color);
  }
  &::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--accent-color);
    display: block;
    transition: all 0.2s linear;
    position: absolute;
    bottom: -1px;
    @media screen and (max-width: 1145px) {
      display: none;
    }
  }
}
.header-banner {
  background-color: var(--darkblue);
  display: flex;
  align-items: center;

  justify-content: space-between;
  position: relative;
  @media screen and (max-width: 631px) {
    flex-direction: column;
  }
  .left {
    display: flex;
    height: 100%;
    @media screen and (max-width: 631px) {
      width: 100%;
      border-bottom: 1px solid #21334e;
    }
    .info {
      padding: 10px 20px;
      white-space: nowrap;
      @media screen and (max-width: 440px) {
        font-size: 11px;
        img {
          max-width: 18px;
        }
      }
    }
  }
  .info {
    display: flex;
    gap: 8px;
    font-size: 14px;
    color: #ffffff;
    align-items: center;
    border-right: 1px solid #21334e;
    @media screen and (max-width: 631px) {
      width: 100%;
      justify-content: center;
    }
  }
  .right {
    @media screen and (max-width: 631px) {
      width: 100%;
    }
    .soc-list {
      display: flex;
      @media screen and (max-width: 631px) {
        width: 100%;
      }
      .soc-link {
        border-left: 1px solid #21334e;
        padding: 10px 16px;
        @media screen and (max-width: 631px) {
          width: 100%;
        }
        path {
          transition: all 0.1s linear;
        }
        &:hover {
          path {
            fill: var(--accent-color);
          }
        }
      }
    }
  }
}
